doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    <h1>Email form</h1>

    <form action="/mails/send" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="pictureName">objet</label>
            <input type="text" class="form-control" id="pictureName" name="mail_object" placeholder="write the object of your mail">
        </div>
        <div class="form-group">
            <label for="pictureSelected">mail form to send</label>
            <input type="file" class="form-control-file" id="pictureSelected" name="mail_body" >
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
