.center {
    text-align: center;
}
.table {
    margin: 4vh 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.7vh;
    grid-row-gap: 1.7vh;
}
.box {
    position: relative;
    height: 30vh;
    border-radius: 1.85vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 25px #00000050;
    padding: 2.2vh 1.35vw;
    padding-top: 4.2vh;
}
.box h2, .box h3 {
    color: #fff;
    position: absolute;
    bottom: 6.7%;
    left: 5%;
    text-align: left;
}
.box h2 {
    bottom: 12%;
}