.backgroundImage {
    background-image: url("../public/young_man_stats.png");
    width: 400px;
    height: 200px;
}

.form {
    width: 100px;
    height: 500px;
}

.row {
    grid-row: 1;
}

.image {
    width: 400px;
    height: 400px;
}