.headerTitle {
    font-size: 4.6vh;
    letter-spacing: .26vw;
}
.headerDownload {
    font-weight: bold;
    background-color: #FAC402;
    border-radius: 2.8vh;
    padding: 1.4vh 1.3vw;
    box-shadow: 0 0 5px #00000050;
}
.headerDownload:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 1.4vh #00000050;
}
.socialNetwork {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 13vh;
    left: 0;
    right: 0;
    font-size: 1.7vh;
    padding: 0.6vh 14vw;
    background: linear-gradient(to right, #03529C, #02294E);
    color: #ffffff;
    z-index: 11;
}
.socialNetwork a {
    margin-left: 2.6vw;
}

@media only screen and (max-width:1100px)  {
    .socialNetwork {
        display: none;
    }
}

@media only screen and (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media only screen and (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media only screen and (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media only screen and (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }
