.sectionPartner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 75vh;
}

.imagePartner {
    background-image: url("../public/background/young_man_stats.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 47%;
    height: 67.6vh;
}

.cardPartner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 41.7vh;
    width: 45.5%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../public/background/BackgroundCard2.jpg");
    background-position:center top;
    background-size: cover;
    border-radius: 1.85vh;
    box-shadow: 0 0 2.3vh #00000050;
    color: #ffffff;
    padding: 2.8vh 1.8vw;
}
.downloadLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 32.2vh;
    width: 47%;
}
.downloadRight {
    background-image: url("../public/background/DownloadImg.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 47%;
    height: 67.6vh;
}

.downloadCard {
    text-align: center;
    cursor: pointer;
    color: #000000;
    background-color: #FAC402;
    font-size: 2vh;
    padding: 1.1vh 2.2vw;
    font-weight: bold;
    width: auto;
    border-radius: 50px;
    transition: .2s;
    margin-right: 2.8vw;
}
.downloadCard:hover {
    background-color: #ffffff;
    box-shadow: 0 0 25px #00000050;
}

.buttonDiv {
    display: flex;
    justify-content: left;
    align-items: center;
}